<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FLIGHT_API_KEY</key>
	<string>Css8Wmku9nvQMSC1mtAyNVFh3BoEAOXaHPJcBf%2BdgMWJfMBsBY6igZdTTj8e7xH5J3BFum5aDgKqbPm6zcfTgA%3D%3D</string>
</dict>
</plist>
